.section-web {
  padding: 3rem 0;
  background-image: url(../../assets/img/parallelx.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
  transition: all 0.3s linear;
  text-align: center;
}



.section-web .overlay-parallel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(100deg, #6751b9 0%, #7002ff 100%);
  opacity: 0.6;
}

.section-web .data-container {
  position: relative;
  height: 100%;
  top: 25%;
}

.section-web .data-container h2 {
  color: #fff;
  font-family: "Lemon", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
}

.section-web .data-container p {
  text-align: center;
  font-size: 1.2rem;
  font-family: "yatra one", sans-serif;
  line-height: 1.4;
  color: #fff;
  margin: 20px;
  font-weight: 600;
}

.section-web span {
  font-family: "Lemon", sans-serif;
  color: #d4ff00;
  font-weight: 400;
}

.data-container button {
  padding: 0.5rem 0.8rem;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #fff;
  font-size: 1.2rem;
  font-weight: 400;
  background: transparent;
}

.data-container .btn{
  font-family: "Lemon", sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.data-container button:hover{
  background: linear-gradient(to right, #e100ff, #02f7ff);  

}

@media (max-width: 768px) {
  .section-web .data-container h2 {
    font-size: 1.5rem;
  }
  .section-web .data-container p {
    font-size: 1rem;
  }
  .data-container button  {
 font-size: 1rem;
  }
}

@media (max-width: 487px){
  .section-web .data-container h2 {
    font-size: 1.5rem;
  }
  .section-web .data-container p {
    font-size: 0.8rem;
  }
  .data-container button  {
    font-size: 0.81rem;
     }
}

